<?xml version="1.0" encoding="UTF-8" ?>
<taglib 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
    version="2.1">

    <display-name>Custom Functions</display-name>    
    <tlib-version>1.0</tlib-version>
    <uri>http://example.com/functions</uri>

    <function>
        <name>getAndClearAppStatus</name>
        <function-class>com.appspot.cee_me.status.StatusHandler</function-class>
        <function-signature>java.util.List getAndClearAppStatus(javax.servlet.http.HttpSession)</function-signature>
    </function>

    <function>
        <name>getAppStatus</name>
        <function-class>com.appspot.cee_me.status.StatusHandler</function-class>
        <function-signature>java.util.List getAppStatus(javax.servlet.http.HttpSession)</function-signature>
    </function>
    
    <function>
        <name>partition</name>
        <function-class>com.google.common.collect.Lists</function-class>
        <function-signature>java.util.List partition(java.util.List, int)</function-signature>
    </function>
    
</taglib>